window {
        background-color: #181616;
    border: 1px solid #dcd7ba;
    }

#tui-button {
    background-image: none;
    background-color: #c5c9c5;
    color: #181616;
    border-radius: 0;
    font-family: 'Iosevka Term';
    font-size: 15px;
}

#tui-button:hover {
    background-color: #181616;
    color: #c5c9c5;
    border-color: #957FB8;
}

#tui-button:active {
    background-color: #363646;
    border-color: #E6C384;
}
